@model UI.Models.Company.CompanyDetailsVM
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Customer Details
                </h4>
                <hr>
            </div>
        </div>
        @Html.DisplayFor(x => x)
    </div>
</div>