@model UI.Models.Company.CompanyDetailsVM
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Customer Details
                    @if (User.IsInRole("CustomerAdministrator"))
                    {
                        <text>[</text>@Html.ActionLink("Go to edit mode", "Edit", new { id = Model.Id })<text>]</text>
                    }

                </h4>
                <hr>
            </div>
        </div>
        @Html.DisplayFor(x => x)
    </div>
</div>